<!DOCTYPE html>
<html ng-app="forkApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forklift App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/stylesheets/style.css">
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Forklift App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Table</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="js-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit</h4>
            </div>
            <div class="modal-body">
                <form id="js-editSubmitId" class="form-horizontal" action="api/cars" method="post">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="carName">Car Name</label>
                        <div class="col-sm-6">
                            <input type="text" name="name" class="form-control" id="editCarName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"for="carCapacity">Car Capacity</label>
                        <div class="col-sm-6">
                            <input type="text" name="capacity" class="form-control" id="editCarCapacity">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-4">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button id="editSaveChanges" type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                            <div class="col-sm-offset-2"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div ng-controller="tableCtrl" class="container">
    <div class="row">
        <div class="jumbotron">
            <h3 class="col-sm-offset-2">Add a new car</h3>
            <form class="form-horizontal" action="api/cars" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="carName">Car Name</label>
                    <div class="col-sm-6">
                        <input type="text" name="name" class="form-control" id="carName" placeholder="enter car name...">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"for="carCapacity">Car Capacity</label>
                    <div class="col-sm-6">
                        <input type="text" name="capacity" class="form-control" id="carCapacity" placeholder="enter car capacity...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Add Car</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover fl-table-hover fl-table-center">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Capacity</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody >
                    <tr ng-repeat="car in cars"
                        data-carId="{{ car.id }}"
                        data-carName="{{ car.name }}"
                        data-carCapacity="{{ car.capacity }}"
                        ng-click="itemInfo(car.id,car.name,car.capacity)"
                        data-toggle="modal" data-target="#js-edit-modal"
                    >

                        <td>{{ car.id }}</td>
                        <td>{{ car.name }}</td>
                        <td>{{ car.capacity }}</td>

                        <td>
                            <button class="btn btn-danger btn-sm" type="button" ng-click="deleteCar(car.id)">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/public/javascripts/main.js"></script>

</body>
</html>